<h1 mat-dialog-title> Add Nova Nota:</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="addform" style="height: 300px;">
    <mat-form-field style="width:50%">
      <input formControlName="titulo" name="Titulo" matInput placeholder="Título">
    </mat-form-field>
    <mat-form-field style="width:100%">
      <input formControlName="notas" name="Notas" matInput placeholder="Nota">
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="onSubmit(form.value)" [mat-dialog-close]>ADD</button>
    </div>
  </form>
</div>
