.card {
  background-color: lightgoldenrodyellow;
  color: rgba(0, 0, 0, .87);
  margin-right: 2.5em;
  margin-left: 2.5em;
  margin-bottom: 2em
}


.notes {
  display: block;
}

mat-card {
  height: 300px;
}

.test {
  margin-left: 100px;
}

.card-actions {
  margin-top: 10px
}
